@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');




*{
    margin: 0;
    padding: 0;
}

nav{
    grid-area: navbar;
    background-color: #AAD63E;
    color: white;
    text-align: center;
    align-content: center;

}

nav:hover{
    cursor: pointer;
}

aside{
    grid-area: aside;
    background-color: #E8DCC0;
    color: white;
    text-align: center;

   
}

section{
    grid-area:section;
    background-color: #FFF
  
}

footer{
    grid-area: footer;
    background-color: #AAD63E;
    color: white;
    text-align: center;
    align-content: center;
  
}

main{
    font-family: Montserrat;
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "aside section"
        "footer footer";
    grid-template-columns: 15% 1fr;
    grid-template-rows: 8% 1fr 12%;
    height: 100vh;
   
}

.cuadro{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;


    

    
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

img{
    height: 250px;
    width: 350px;
    align-items: center;
   
    
}

button{
    color: white;
    background-color: #AAD63E;
    border: none;
    height: 40px;
    margin: 0;   
}

button:hover{
    cursor: pointer;
    background-color: #F49C1C;
}


li{
    display: flex;
    flex-direction: column;

}

li:hover{
    color: #AAD63E;
    cursor: pointer;
}

footer{
    padding: 1rem;
    text-align: center;
    align-content: center;
}

